<ion-header [translucent]="true">
  <ion-toolbar id="toolbar2">
    <ion-title>
      Mapa Domu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="mapmain">
  <ion-header collapse="condense">
  </ion-header>
<div id="con">
      <ion-img src='assets/map/allhome.jpg' style='height:100%; margin-top:20%; margin-left:-23%; width:170%;'></ion-img>
      <div id="room1"></div>
      <div id="room2"></div>
      <div id="room3"></div>
      <div id="room4"></div>
      <div id="room5"></div>
      <div id="room6"></div>
      <div id="room7"></div>

</div>
</ion-content>

<ion-content [fullscreen]="true" id="maproom1">
<ion-img src='assets/map/room1.jpg' style='height:40%; margin-left:-3%; width:100%;'></ion-img>
<ion-item button>
<ion-label>
<div id='room1-temp' style='text-algine:center;'>Zarządzaj Pomieszczeniem</div>
</ion-label>
</ion-item>
  </ion-content>

  <ion-content [fullscreen]="true" id="maproom2">
    <ion-img src='assets/map/room2.jpg' style='height:40%; margin-left:-3%; width:100%;'></ion-img>
    <ion-item button>
    <ion-label>
    <div id='room1-temp' style='text-algine:center;'>Zarządzaj Pomieszczeniem</div>
    </ion-label>
    </ion-item>
    </ion-content>

    <ion-content [fullscreen]="true" id="maproom3">
      <ion-img src='assets/map/room3.jpg' style='height:40%; margin-left:-3%; width:100%;'></ion-img>
      <ion-item button>
      <ion-label>
      <div id='room1-temp' style='text-algine:center;'>Zarządzaj Pomieszczeniem</div>
      </ion-label>
      </ion-item>
      </ion-content>

      <ion-content [fullscreen]="true" id="maproom4">
        <ion-img src='assets/map/room4.jpg' style='height:40%; margin-left:-3%; width:100%;'></ion-img>
        <ion-item button>
        <ion-label>
        <div id='room1-temp' style='text-algine:center;'>Zarządzaj Pomieszczeniem</div>
        </ion-label>
        </ion-item>
        </ion-content>

        <ion-content [fullscreen]="true" id="maproom5">
          <ion-img src='assets/map/room5.jpg' style='height:40%; margin-left:-3%; width:100%;'></ion-img>
          <ion-item button>
          <ion-label>
          <div id='room1-temp' style='text-algine:center;'>Zarządzaj Pomieszczeniem</div>
          </ion-label>
          </ion-item>
          </ion-content>

          <ion-content [fullscreen]="true" id="maproom6">
            <ion-img src='assets/map/room6.jpg' style='height:40%; margin-left:-3%; width:100%;'></ion-img>
            <ion-item button>
            <ion-label>
            <div id='room1-temp' style='text-algine:center;'>Zarządzaj Pomieszczeniem</div>
            </ion-label>
            </ion-item>
            </ion-content>
            <ion-content [fullscreen]="true" id="maproom7">
              <div  id="maproom7d">
              <ion-img src='assets/map/room7.jpg' style='height:100%; width:100%; margin-top:40%;'></ion-img>
              <div id="maproom7-1"></div>
              <div id="maproom7-2"></div>
              </div>
              </ion-content>
      <ion-content [fullscreen]="true" id="maproom71">
            <ion-img src='assets/map/room7-1.jpg' style='height:40%; margin-left:-3%; width:100%;'></ion-img>
            <ion-item button>
            <ion-label>
            <div id='room1-temp' style='text-algine:center;'>Zarządzaj Pomieszczeniem</div>
            </ion-label>
            </ion-item>
        </ion-content>
        <ion-content [fullscreen]="true" id="maproom72">
          <ion-img src='assets/map/room7-2.jpg' style='height:40%; margin-left:-3%; width:100%;'></ion-img>
          <ion-item button>
          <ion-label>
          <div id='room1-temp' style='text-algine:center;'>Zarządzaj Pomieszczeniem</div>
          </ion-label>
          </ion-item>
          </ion-content>
